@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans&display=swap');

body {
    background-color: #F4EBD0; /* Sand Beige */
    font-family: 'Open Sans', sans-serif;
    color: #333333; /* Charcoal */
    margin: 0;
    padding: 0 20px;
}

header {
    background-color: #2E6F57; /* Forest Green */
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2E6F57; /* Forest Green */
}

section {
    margin: 30px 0;
}

ul {
    line-height: 1.6;
}

footer {
    background-color: #2E6F57;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
